*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	font-size: 16px;
}

#page{
	max-width: 1200px; 
	margin: 0 auto; 
	position: relative;
}

/* Texts */
h1 { margin: 0 0 .3em 0; font-size: 2.8em;}

h2 {margin: 0 0 1em 0; font-size: 2em;}

h3 {margin: 0 0 .5em 0; font-size: 1.4em;}

p {margin: 0 0 1em 0; font-size: 1.2em;}






/* Header */

header {
	height: 80px;
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 999;
}

header a.logo{
	position: relative; 
	top: 5px;
	left: 5%;
	display: block; 
	width: 289px;
	height: 75px;
	background: url(../img/Logo.png) no-repeat 0 0;

}


/*Navigation*/

nav {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 25%;
}

nav ul {list-style: none;}

nav ul li a{
	display: inline-block;
	text-decoration: none;
	position: relative;
	width: 100px;
	padding: 10px;
	color: #000;
}

nav ul li {
	background-color: #fff;
}

nav > ul > li {float: left;}
nav ul ul {
	position: absolute;
	display: none;
}

nav ul li:hover > ul {display: block;}



/*Arrow sign in navigation*/
i {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
  position: absolute;
  top: 13px;
}


/* Slider */

#slider {
    overflow: hidden;
    margin-bottom: 60px;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure{
    width: 500%;
    position: relative;
    left: 0;
    animation: 20s slider infinite;
}

@keyframes slider {
    0%{left: 0%}
    15%{left:0%;}
    25%{ left: -100%; }
    40% {left:-100%;}
    50%{ left: -200%; }
    65%{left: -200%}
    75%{ left: -300%; }
    90%{left:-300%;}
    100%{ left: -400%; }
}

#slider h1{
	margin-bottom: 30px;
}

#slider h2{
	margin-bottom: 50px;
}

.text1{
	position: absolute;
	top: 150px;
	left:1%;
	z-index: 9;
	color: #fff;
	font-family: 'Josefin Slab';
}

.text2{
	position: absolute;
	top: 150px;
	left: 21%;
	z-index: 9;
	color: #fff;
	font-family: 'Josefin Slab';
}

.text3{
	position: absolute;
	top: 150px;
	left: 41%;
	z-index: 9;
	color: #fff;
	font-family: 'Josefin Slab';
}

.text4{
	position: absolute;
	top: 150px;
	left: 61%;
	z-index: 9;
	color: #fff;
	font-family: 'Josefin Slab';
}

.text5{
	position: absolute;
	top: 150px;
	left: 81%;
	z-index: 99;
	color: #fff;
	font-family: 'Josefin Slab';
}

#slider a{
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
	font-family: 'Josefin Slab';
}



/*Main Content*/




/* About Cafe*/

.section-headline {
	width: 100%;
	text-align: center;
	font-family: 'Josefin Slab';
	margin-bottom: 50px;

}

.info{
	width: 90%;
	position: relative;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
}

.about-cafe{
	width: 33.33%;
	float: left;
	text-align: center;
}


.middle-section  {
	width: 33.33%;
	float: left;
	padding: 0 10px;
}


.middle-section img {
	width: 100%;
}

.opening-hours {
	width: 33.33%;
	float: left;
	text-align: center;
}

.opening-hours img {
	width: 100%;
	margin-bottom: 20px;
}

/*Our coffee*/


.fourth-columns {
	width: 90%;
	position: relative;
	display: inline-block;
	margin: 0 5%;
}

.one-fourth{
	width: 25%;
	float: left;
	text-align: center;
	padding: 0 5%;
	font-family: 'Josefin Sans';
}

.one-fourth img{
	width: 70%;
	margin-bottom: 15px;
}

/*  How to find us */

.three-columns {
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
}

.one-three{
	width: 33.33%;
	float: left;
	font-family: 'Josefin Sans';
	text-align: center;

}

.one-three img{
	width: 25%;
	margin-bottom: 25px;
}

/*NAvigate to id*/

#contact, #menu, #coffee, #team, #info, #send-message{
	margin-bottom: 120px;
}



/* SEND MESSAGE  */


.background-image{
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.background-image img{
	width: 100%;

}


/* FORMULARZ */

.form-container{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    left: 0; 
	right: 0; 

}

.form-container h2{
	text-align: center;
}

form {
	background-color: rgba(255, 255, 255, 0.5);
    padding: 35px;
    margin: 50px 0;
}

input, textarea {
	border: 1px solid black;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
}

input[type=submit]{
	background-color: #000;
	color: #fff;

}


/*-----MEDIA QUERIES------*/

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px){




}



/* Large screen mobiles */
@media only screen and (max-width: 767px){




}




/* iPhones and other mobiles*/
@media only screen and (max-width: 480px) {
	

	/* Texts */
h1 { margin: 0 0 .3em 0; font-size: 1.5em;}

h2 {margin: 0 0 .5em 0; font-size: 1.2em;}

h3 {margin: 0 0 .5em 0; font-size: 1em;}

h4 { margin: 0 0 1em 0; }

p {margin: 0 0 1em 0; font-size: .8em;}

	/* FORMULARZ */

.form-container{
    width: 80%;
}


form {
    padding: 15px;
    margin: 15px 0;
}

input, textarea {
	border: 1px solid black;
	width: 100%;
	padding: 5px;
	margin: 1px 0;
}

/*  How to find us */


.one-three{
	width: 100%;
}

.one-three img{
	width: 20%;
	margin: 25px 0 10px 0;
}


/*Our menu*/

.one-fourth{
	width: 100%;
}


/* About Cafe*/


.about-cafe{
	width: 100%;
}


.middle-section  {
	width: 100%;
}

.middle-section img {
	margin-bottom: 15px;
}


.opening-hours {
	width: 100%;
}

.opening-hours img {
	display: none;
}


.text1, .text2, .text3, .text4{
	position: absolute;
	top: 100px;
}

#slider h1{
	font-size: 19px;
	margin-bottom: 10px;
}

#slider h2{
	font-size: 14px;
	margin-bottom: 20px;
}

#slider a{
	font-size: 11px;
	padding: 5px;
}

}